@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<a class="btn btn-warning" asp-page="Pokemons/Index">All Pokémons</a>
<a class="btn btn-primary" asp-page="Pokemons/Dbpage">Pokémons in Database</a>