@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (Model.Pokemons != null)
{
    <hr />
    foreach(var pokemon in Model.Pokemons)
    {
        <a asp-page="Pokemons/Details/" asp-route-Pokemon="@pokemon">@pokemon</a>
        <hr />
    }
}